<section>
  <div class="header">
    <div class="container header_box">
      <div class="row h-100">
        <div class="col-12 col-md-6 d-flex align-items-center">
          <img src="assets/images/logo_congreso.svg" class="me-3" alt="">
          <img class="header_text-logo me-3" src="assets/images/text-logo.svg" alt="">
        </div>
        <div class="col-12 col-md-6 d-none d-md-flex align-items-center justify-content-end">
          <img src="assets/images/portada.svg" class="me-2" alt="">
          <span class="fw-500">Portada</span>
        </div>
      </div>
    </div>
    <div class="text-light bg-primary">
      <div class="container">
        <div class="layout_navbar d-flex align-items-center">
          <span class="layout_navbar_item active fw-500 me-2">
            Nuevo reclamo
          </span>
          <span class="layout_navbar_item">
            Seguimiento de reclamo
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <h1 class="fs-1 text-primary">Libro de reclamaciones</h1>

    Lamentamos el malestar generado, para darte una respuesta oportuna por favor completa la siguiente información:

    <div>

      <span class="p-float-label mt-2 mb-3">
        <input pInputText class="w-100" id="username" />
        <label htmlFor="username">Username</label>
      </span>

    </div>

  </div>

  <div class="footer text-white text-center pt-2 pb-3">
    <h1 class="fs-4 fw-700">Congreso de la República</h1>
    <p>Libro de reclamaciones digital - Versión 1.0.0 <br>
      Plaza Bolívar, Av. Abancay s/n - Lima, Perú</p>
    <p>Copyright © 2023</p>
  </div>


</section>